body, body * {
    display: block;
    padding: 0;
    margin: 0;
}

div.header {
    width: 100%;
}

div.header div.header_block {
    height: 30px;
    background-color: red;
    width: 100%;
}

div.header div.header_content {
    height: 50px;
    background-color: green;
    width: 100%;
}

div.header div.menu{
    background-color: aqua;
    width: 100%;
}